.body{
	padding: 0px;
	margin: 0px;
}

.fa-solid{
  color: orange;
}

.card{
  background-color: lightyellow;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 50px; 
  border: 10px solid black;
  font-style: oblique;
  border-color: firebrick;
}